@media screen and (max-width: 770px) {
  /* presale progress baras */

  .progress-stats {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
    flex-direction: column;
  }
}
